<!-- Footer Content for all pages-->
<!-- Page Content -->
<section id="footerwidget" class="footerwidget">
	<div class="container">
		<div class="row">
			<div class="main_footerwidget">
				<div class="col-sm-2 col-xs-6">
					<div class="single_widget">
						<h4><a href="/"> Home </a></h4>
						<a href="/" class="navbar-brande">Tool Pro Engineering</a>
					</div>
				</div>
				<div class="col-sm-2 col-xs-6">
					<div class="single_widget">
						<h4>Products and Services</h4>
						<ul>
							<li><a href="#">SS Fasteners</a></li>
							<li><a href="#">Pump & Valve Components</a></li>
							<li><a href="#">SS Pipe Fittings</a></li>
							<li><a href="#">Special Engineering Components</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-2 col-xs-6">
					<div class="single_widget">
						<h4><a href="/aboutUs"> About Us</a></h4>
					</div>
				</div>
				<div class="col-sm-2 col-xs-6">
					<div class="single_widget">
						<h4><a href="/contactUs"> Contact Us</a></h4>
					</div>
				</div>
				<div class="col-sm-2 col-xs-6">
					<div class="single_widget">
						<h4>Support</h4>
						<ul>
							<li><a href=""><span>Call us :</span>  <strong>+91 (880) 651-1818</strong></a>
							</li>
							<li><a href=""><span>E-mail us:</span> <strong>toolproengg@gmail.com</strong> </a></li>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

</div>
<footer id="footer" class="footer">
	<div class="container">
		<div class="row">
			<div class="main_footer">
				<div class="col-sm-6 col-xs-12">
					<div class="single_footer_left">
						<p>Design: <strong>Tool Pro Engineering</strong></p>
					</div>
				</div>
				<div class="col-sm-6 col-xs-12">
					<div class="single_footer_right wow fadeInDown" data-wow-duration="1s">
						<p>Contact <i class="fa fa-heart"></i> us <strong><a href="http://www.toolproengg.com">Tool Pro Engineering</a></strong></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>



<!-- STRAT SCROLL TO TOP -->

<div class="scrollup">
	<a href="#"><i class="fa fa-chevron-up"></i></a>
</div>

<script src="/../js/vendor/jquery-1.11.2.min.js"></script>
<script src="/../js/vendor/bootstrap.min.js"></script>
<script src="/../js/vendor/isotope.min.js"></script>

<script src="/../js/jquery.easypiechart.min.js"></script>
<script src="/../js/jquery.mixitup.min.js"></script>


<script src="/../js/plugins.js"></script>
<script src="/../js/main.js"></script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIgPKvLYYoxYMLkwFMlkyjHyyZMAI6TCs&callback=initMap">
    </script>

</body>

</html>