<%- include layouts/header.ejs %>


    <section id="contactUs-heading" class="contactUs">
        <div class="contactUs-container Container text-center">
            <h2 class="margin">Get In Touch!</h2>
            <p class="indent">Have a little something, something you wanna talk to us about? Well give us a ring, send us an email, or fill
                out form below. </p>
            <div class="social-links">
                <a href="#" style="color:#3b5998;"><span class="fa-stack fa-3x">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x"></i>
                </span>
                </a>
                <a href="#" style="color:#55acee;">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x"></i>
                </span>
                </a>
                <a href="#" style="color:#dd4b39;">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-google-plus fa-stack-1x"></i>
                </span>
                </a>
                <a href="#" style="color:#bb0000;">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-youtube fa-stack-1x"></i>
                </span>
                </a>
            </div>
        </div>
    </section>

    <section id="contactUs-contact-information" class="contactUs-contact-information">
        <div class="row">
            <div class="col-lg-6">
                <div class="w3-example">
                    <h4 class="text-center"><i class="fa fa-building-o fa-2x"></i> Tool Pro Engineering</h4>
                    <div class="w3-code notranslate htmlHigh">
                        <p>Shailesh industrial estate, No 14, opposite Hyundai Showroom, <br><br> Sativali Road, Vasai East,
                            Maharashtra, India. Pin - 401202</p>
                    </div>
                </div>
            </div>


            <div class="col-lg-6">
                <div class="w3-example">
                    <h4 class="text-center"><i class="fa fa-info-circle fa-2x"></i> Contact Information</h4>
                    <div class="w3-code notranslate htmlHigh">
                        <p><strong><i class="fa fa-envelope-o fa-lg"></i> Email: </strong>sales@toolproengg.com <br><br>
                            <strong><i class="fa fa-phone fa-lg"></i> Phone Number: </strong>+91 (880) 651-1818</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contactUs-content" class="contactUs-content">
        <div class="section-content">
            <h1 class="section-header">We would love to hear from you!</h1>
        </div>
        <div class="contact-section">
            <div class="container">
                <form>
                    <div class="col-md-6 form-line">
                        <div class="form-group">
                            <label for="exampleInputEmail">Company Name</label>
                            <input type="text" class="form-control" id="" placeholder=" Enter Company Name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail">Designation</label>
                            <input type="text" class="form-control" id="" placeholder=" Enter Designation">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail">Email Address</label>
                            <input type="email" class="form-control" id="exampleInputEmail" placeholder=" Enter Email Address">
                        </div>
                        <div class="form-group">
                            <label for="telephone">Contact Number</label>
                            <input type="tel" class="form-control" id="telephone" placeholder=" Enter Contact Number">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="description"> Message</label>
                            <textarea class="form-control" id="description" placeholder="Enter Your Message"></textarea>
                        </div>
                        <div>

                            <button type="button" class="btn btn-default submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Send Message</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>

    </section>

    <section id="contactUs-map" class="contactUs-map">
        <div style="width:100%;height:400px" id="map"></div>
    </section>



    <%- include layouts/footer.ejs %>