<%- include layouts/header.ejs %>
    <section id="home" class="home">
        <div class="home_overlay">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="main_home">
                            <div class="mainhomecontent">
                                <div class="single_home">
                                    <div class="col-sm-7">
                                        <div class="single_home_left">
                                            <h2>Leading Tools Distributor</h2>
                                            <h3>Any Job. Any Time.</h3>
                                            <p>24x7 Knowledgeable Support</p>
                                            <p>Fast Delivery!</p>
                                            <p>Great Tools For Best Results.</p>
                                            <p></p>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="single_home_right">
                                            <a href=""><span>Call us :</span>  <strong>+91 (880) 651-1818</strong></a>
                                            <a href=""><span>E-mail us :</span> <strong>toolproengg@gmail.com</strong> </a>
                                            <button href="" class="btn btn-lg">Compare Our Pricing Plans</button>
                                        </div>
                                    </div>
                                    <!--<img src="assets/images/homepc.png" alt="" />-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- End of Banner Section -->
    <section id="newsstory" class="sewsstory">
        <div class="container">
            <div class="row">
                <div class="main_newsstory text-center">
                    <p><i class="fa fa-rss"> We have recently Upgraded several products and services. Our products are greater than even. <a href="">Read full our News story</a></i></p>
                </div>
            </div>
        </div>
    </section>



    <section id="pricing" class="pricing">
        <div class="container">
            <div class="row">


                <div class="pricing_content_area">
                    <div class="head_title text-center">
                        <p>Grow your business with <strong>Professional Machine Tools</strong></p>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="single_pricing_text wow fadeIn" data-wow-duration="1s">
                            <div class="pricing_head_text">
                                <h3>SS Fasteners</h3>
                                <div class="separator"></div>
                                <p><span>Components</span></p>
                            </div>
                            <ul>
                                <li><strong>Bolts</strong></li>
                                <li><strong>Nuts</strong></li>
                                <li><strong>Anchor Fasteners</strong></li>
                                <li><strong>Stud Bolts</strong></li>
                                <li>More</li>
                            </ul>
                            <a href="" class="btn btn-primary">View Full Catalog</a>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="single_pricing_text wow fadeIn" data-wow-duration="1.5s">
                            <div class="pricing_head_text">
                                <h3>Pump & Valve</h3>
                                <div class="separator"></div>
                                <p><span>Components</span></p>
                            </div>
                            <ul>
                                <li><strong>Bolts</strong></li>
                                <li><strong>Nuts</strong></li>
                                <li><strong>Anchor Fasteners</strong></li>
                                <li><strong>Stud Bolts</strong></li>
                                <li>More</li>
                            </ul>
                            <a href="" class="btn btn-primary">View Full Catalog</a>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="single_pricing_text wow fadeIn" data-wow-duration="1.8s">
                            <div class="pricing_head_text">
                                <h3>SS PIPE FITTINGS</h3>
                                <div class="separator"></div>
                                <p><span>Components</span></p>
                            </div>
                            <ul>
                                <li><strong>Barrel Nipple</strong></li>
                                <li><strong>Bushing</strong></li>
                                <li><strong>Coupling</strong></li>
                                <li><strong>Hexagonal Plug</strong></li>
                                <li>More</li>
                            </ul>
                            <a href="" class="btn btn-primary">View Full Catalog</a>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="single_pricing_text wow fadeIn" data-wow-duration="2s">
                            <div class="pricing_head_text">
                                <h3>Special Engineering</h3>
                                <div class="separator"></div>
                                <p><span>Components</span></p>
                            </div>
                            <ul>
                                <li><strong>Bolts</strong></li>
                                <li><strong>Nuts</strong></li>
                                <li><strong>Anchor Fasteners</strong></li>
                                <li><strong>Stud Bolts</strong></li>
                                <li>More</li>
                            </ul>
                            <a href="" class="btn btn-primary">View Full Catalog</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- End of Pricing Section -->


    <section id="callus" class="callus">
        <div class="container">
            <div class="row">
                <div class="main_callus">
                    <div class="callus_top_content text-center">
                        <p>Can't decide which one best suits you?</p>
                        <p class="phone_call">Call us - <strong>+91 (880) 651-1818</strong></p>
                        <div class="or_section">
                            <div class="separator"></div>
                            <p>or</p>
                        </div>
                        <p class="email_call">Email us - <strong>toolproengg@gmail.com</strong></p>
                    </div>


                    <div class="callus_bottom_content">
                        <div class="col-sm-6">
                            <div class="single_callus_bottom_content">
                                <p class="indent">Every business has unique tools requirements, and that's why we provide a wide range of tools
                                    and services. And since the best product for your business may include more than one
                                    services, we can help you mix-and-match to create the optimal package for your needs.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="single_callus_bottom_content">
                                <p class="indent">Tool Pro Engineering supplies industrial-grade dedicated servers to businesses, small vendors
                                    , and other clients. With a global presence and multilingual sales and support capabilities,
                                    you can rely on Tool Pro Engineering Landscape to be ready to help whenever you need
                                    it.</p>
                            </div>
                        </div>

                    </div>

                    <div class="callus_client_logo text-center wow fadeInUp" data-wow-duration="2s">
                        <!--<p>Some of our satisfied clients include...</p>-->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include layouts/footer.ejs %>