<%- include layouts/header.ejs %>



    <section id="products-heading" class="products">
        <div class="products-container Container text-center">
            <h2 class="margin" style="color:#dd4b39;">Products & Services!</h2>
            <p class="indent" style="color:#7f0cad;">EVERYTHING YOU NEED FOR PRECISION TOOLING AND MORE. </p>
            <!-- <div class="products-links">
                <a href="#" style="color:#3b5998;"><span class="fa-stack fa-3x">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x"></i>
                </span>
                </a>
                <a href="#" style="color:#55acee;">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x"></i>
                </span>
                </a>
                <a href="#" style="color:#dd4b39;">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-google-plus fa-stack-1x"></i>
                </span>
                </a>
                <a href="#" style="color:#bb0000;">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-youtube fa-stack-1x"></i>
                </span>
                </a>
            </div>
            -->
        </div>
    </section>

    <section id="products-popUp" class="products-popUp">

        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="gridSystemModalLabel">Send Inquiry!</h4>
                        <div class='col-md-12'>
                            <div class='thumbnail'>
                                <div class='products-image'>
                                    <img id="inquiryImage" class='products-image' alt='Inquiry Image'>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="col-sm-12">
                            <div class="form-group col-sm-14">
                                <label for="inquiryEmail"> Your Email: </label>
                                <input type="email" class="form-control" id="inquiryEmail" placeholder="Enter Email">
                            </div>
                            <div class="form-group col-sm-14">
                                <label for="inquiryPhone"> Your Phone: </label>
                                <input type="phone" class="form-control" id="inquiryPhone" placeholder="Enter Phone Number">
                            </div>
                            <div class="form-group  col-sm-14">
                                <label for="inquiryMessage"> Your Message: </label>
                                <textarea class="form-control" rows="5" id="inquiryMessage"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="products-content" class="products-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="process">
                    <div class="process-row">
                        <div class="process-step">
                            <button id="sSFasteners" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="btn btn-default btn-circle">
                                <i class="fa fa-wrench fa-3x"></i></button>
                            <p>SS Fasteners</p>
                        </div>
                        <div class="process-step">
                            <button id="PumpValve" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="btn btn-default btn-circle">
                                <i class="fa fa-wrench fa-3x"></i></button>
                            <p>Pump & Valve Components</p>
                        </div>
                        <div class="process-step">
                            <button id="sSPipeFittings" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="btn btn-default btn-circle">
                                <i class="fa fa-wrench fa-3x"></i></button>
                            <p>SS Pipe Fittings</p>
                        </div>
                        <div class="process-step">
                            <button id="specialEngineering" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" class="btn btn-default btn-circle">
                                <i class="fa fa-wrench fa-3x"></i></button>
                            <p>Special Engineering Components</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-th-list">
                            </span>SS FASTENERS</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="row">
                                </div>
                                <div class="row">
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th-list">
                            </span>PUMP & VALVE COMPONENTS</a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">
                                    </div>
                                    <div class="row">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-th-list">
                            </span>SS PIPE FITTINGS</a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">

                                    </div>
                                    <div class="row">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-th-list">
                            </span>SPECIAL ENGINEERING COMPONENTS</a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="row">

                                    </div>
                                    <div class="row">

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include layouts/footer.ejs %>